/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Cores do ProExtend - Azul #0980D8 */
:root {
  --ifm-color-primary: #0980D8;
  --ifm-color-primary-dark: #0873c2;
  --ifm-color-primary-darker: #076db8;
  --ifm-color-primary-darkest: #065a97;
  --ifm-color-primary-light: #208de0;
  --ifm-color-primary-lighter: #3399e3;
  --ifm-color-primary-lightest: #5aadea;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(9, 128, 216, 0.1);
}

/* Modo escuro - variação mais clara do azul ProExtend */
[data-theme='dark'] {
  --ifm-color-primary: #5aadea;
  --ifm-color-primary-dark: #3399e3;
  --ifm-color-primary-darker: #208de0;
  --ifm-color-primary-darkest: #0980D8;
  --ifm-color-primary-light: #71b8ed;
  --ifm-color-primary-lighter: #88c3f0;
  --ifm-color-primary-lightest: #afd9f5;
  --docusaurus-highlighted-code-line-bg: rgba(90, 173, 234, 0.2);
}

/* Ajustes da logo */
.navbar__logo {
  height: 23px;
  width: auto;
  margin-right: 20px;
}

.navbar__title {
  font-weight: 600;
  font-size: 1.1rem;
}


.header-proextend-link {
  font-weight: 500;
}

.header-proextend-link:hover {
  text-decoration: none;
  opacity: 0.8;
}

.header-proextend-link .iconExternalLink_nPIU {
  display: none;
}

.header-proextend-link::after {
  content: '↗';
  margin-left: 4px;
  font-size: 0.9em;
  opacity: 0.7;
}

.collapseSidebarButton_PEFL {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapseSidebarButton_PEFL .collapseSidebarButtonIcon_kv0_ {
  display: none;
}

.collapseSidebarButton_PEFL::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%230980D8' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='15 18 9 12 15 6'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.collapseSidebarButton_PEFL:hover::after {
  opacity: 0.7;
}

.expandButton_TmdG {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expandButton_TmdG .expandButtonIcon_i1dp {
  display: none;
}

.expandButton_TmdG::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%230980D8' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.expandButton_TmdG:hover::after {
  opacity: 0.7;
}

[data-theme='dark'] .collapseSidebarButton_PEFL::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235aadea' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='15 18 9 12 15 6'/%3E%3C/svg%3E");
}

[data-theme='dark'] .expandButton_TmdG::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235aadea' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'/%3E%3C/svg%3E");
}

/* Customizar cor da seta de categoria no menu sidebar */
.menu__link--sublist::after {
  background: var(--ifm-color-primary) !important;
  mask-image: var(--ifm-menu-link-sublist-icon) !important;
  mask-size: 2rem 2rem !important;
  mask-position: 50% !important;
  -webkit-mask-image: var(--ifm-menu-link-sublist-icon) !important;
  -webkit-mask-size: 2rem 2rem !important;
  -webkit-mask-position: 50% !important;
  filter: none !important;
}

[data-theme='dark'] .menu__link--sublist::after {
  background: var(--ifm-color-primary) !important;
  mask-image: var(--ifm-menu-link-sublist-icon) !important;
  mask-size: 2rem 2rem !important;
  mask-position: 50% !important;
  -webkit-mask-image: var(--ifm-menu-link-sublist-icon) !important;
  -webkit-mask-size: 2rem 2rem !important;
  -webkit-mask-position: 50% !important;
  filter: none !important;
}

.menu__list-item svg {
  color: var(--ifm-color-primary);
  flex-shrink: 0;
}

.menu__link--active svg {
  color: var(--ifm-color-primary);
}

.theme-doc-sidebar-container .menu > .menu__list > li {
  margin-bottom: 0.6rem;
}

.theme-doc-sidebar-container .menu > .menu__list > li:last-child {
  margin-bottom: 0;
}

.menu__list .menu__list-item {
  margin-bottom: 0.4rem;
}

.menu__list .menu__list-item:last-child {
  margin-bottom: 0;
}

.menu__list .menu__list {
  padding-left: 1.6rem;
}